{% extends 'base.html' %}
{% load bootstrap4 %}
{% load static %}

{% block content %}
<style>
    .btn-danger {
        background-color: #cd33e1;
    }
</style>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8" style="margin-top: 16px;">
            <div class="card">
                <div class="card-header" style="background-color: #cd33e1; color: white;">
                    <h2 class="text-center font-weight-bold">
                        Seja um de nossos autores!! <br>
                        Cadastre-se e contribua com o nosso blog:
                    </h2>
                </div>
                <div class="card-body">
                    <form method="POST">
                        {% csrf_token %}
                        {% bootstrap_form form %}
                        <button type="submit" class="btn btn-danger mt-4">Enviar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
