{% extends 'base.html' %}

{% block content %}
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="card">
            <div class="card-header" style="background-color: #cd33e1; color: white;">
            <h2 class="text-center font-weight-bold">Nossa Missão: <br> Empoderando Mulheres na Tecnologia</h2>
          </div>
          <div class="card-body text-justify">
            <p>
                Somos um grupo de mulheres apaixonadas pelo universo da tecnologia. Algumas de nós já estão consolidadas no mercado de trabalho, outras estão dando os primeiros passos em suas carreiras, e muitas estão em transição, buscando novos desafios e oportunidades. Mas, independentemente do ponto em que nos encontramos, compartilhamos os mesmos objetivos e valores. </p>
            <p>
                Nosso propósito é tornar o mercado da tecnologia mais diverso, inclusivo e acolhedor. Acreditamos que a diversidade é a chave para a inovação e o progresso. Queremos ocupar nossos espaços, não apenas como profissionais competentes, mas como agentes de mudança que promovem a igualdade de oportunidades para todos. </p>
            <p>
                Além de profissionais de TI, somos também mães, esposas, filhas, e mulheres com sonhos e ambições. Reconhecemos a importância de equilibrar nossa vida pessoal e profissional, e buscamos na tecnologia não apenas uma carreira, mas uma ferramenta para trazer um diferencial positivo para as comunidades que nos cercam. </p>
            <p>
                Nossa abordagem é pautada pela empatia e pelo desejo genuíno de ajudar o próximo. Estamos sempre dispostas a compartilhar conhecimento, apoiar umas às outras e criar um ambiente colaborativo e inspirador. Acreditamos que juntas podemos construir um futuro melhor, onde a diversidade seja celebrada e todos tenham a oportunidade de prosperar.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
