{% extends 'base.html' %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-10 card mb-4 mt-3 mx-auto"> 
      <div class="card-body">
        {% if post.image %}
          <img src="{{ post.image.url }}" alt="{{ post.title }}" class="img-fluid" style="margin-bottom: 16px; border-radius: 6px;">
        {% endif %}
        <h1>{% block title %} {{ post.title }} {% endblock title %}</h1> 
        <p class="text-muted">{{ post.author }} | {{ post.created_on }}</p>
        <p class="card-text">{{ post.content | safe }}</p> 
      </div>
    </div>

    <div class="col-md-10 card mb-4 mt-3 mx-auto">
      <div class="card-body">
        <h2>{{ comments.count }} comments</h2>
        {% for comment in comments %}
        <div class="comments" style="padding: 10px;">
          <p class="font-weight-bold"> 
            {{ comment.name }}
            <span class="text-muted font-weight-normal">
              {{ comment.created_on }}
            </span>
          </p>
          {{ comment.body | linebreaks }}
        </div>
        {% endfor %}
      </div>
    </div>
    <div class="col-12 col-md-10 card mb-4 mt-3 mx-auto">
      <div class="card-body">
        {% if new_comment %}
        <div class="alert alert-success" role="alert">
          Seu comentário está aguardando aprovação
        </div>
        {% else %}
        <form method="post" style="margin-top: 1.3em;">
          <h3>Deixe um comentário</h3>
          <div class="form-group">
            <label for="{{ comment_form.name.auto_id }}">{{ comment_form.name.label }}</label>
            <input type="text" class="form-control" id="{{ comment_form.name.auto_id }}" name="{{ comment_form.name.html_name }}" value="{{ comment_form.name.value|default_if_none:'' }}" required>
          </div>
          <div class="form-group">
            <label for="{{ comment_form.email.auto_id }}">{{ comment_form.email.label }}</label>
            <input type="email" class="form-control" id="{{ comment_form.email.auto_id }}" name="{{ comment_form.email.html_name }}" value="{{ comment_form.email.value|default_if_none:'' }}" required>
          </div>
          <div class="form-group">
            <label for="{{ comment_form.body.auto_id }}">{{ comment_form.body.label }}</label>
            <textarea class="form-control" id="{{ comment_form.body.auto_id }}" name="{{ comment_form.body.html_name }}"required>{{ comment_form.body.value|default_if_none:'' }}</textarea>
          </div>
          {% csrf_token %}
          <button type="submit" class="btn btn-primary btn-lg">Enviar</button>
        </form>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock content %}
