{% block sidebar %}

<style>
        .card{
            box-shadow: 0 16px 48px #E3E7EB;
        }
        .card-header{
            text-align: center;
        }
        .btn-danger{
            background-color: #cd33e1;
        }

</style>

<!-- Sidebar Widgets Column -->
<div class="col-md-4 float-right ">
<div class="card my-4">
        <h3 class="card-header"><strong>Sobre</strong></h3>
    <div class="card-body">
        <p class="card-text">
            Desde o início do bootcamp, essas meninas mergulharam de cabeça no mundo do Python. Não eram apenas espectadoras, mas sim protagonistas ávidas por conhecimento. Com notebooks em mãos e mentes ágeis, enfrentaram os desafios com coragem, cada linha de código escrita marcando sua jornada de crescimento e aprendizado.</p>
        <p class="card-text">
            O nome Grace Hopper ecoa não apenas como uma homenagem à pioneira da computação, mas como um símbolo de força coletiva e resiliência. Juntas, essas meninas desafiaram estereótipos e expectativas, provando que o mundo da tecnologia não é exclusivamente masculino.</p>
        <p class="card-text">
            Em suas jornadas individuais, enfrentaram obstáculos comuns a todos os aprendizes de programação: bugs persistentes, conceitos complexos e a inevitável sensação de se estar perdido em meio a linhas de código. No entanto, o que as torna notáveis não é apenas a habilidade de superar tais desafios, mas sim o fato de fazê-lo como uma equipe unida, apoiando-se mutuamente a cada passo do caminho.</p>
       <br> 
        <a href="https://github.com/anaisateodoro/django-blog-noticias"
           class="btn btn-danger">Conheça o projeto</a>
    </div>
</div>
</div>

{% endblock sidebar %}