{% load static %}
{% block sidebar %}

<style>
        .card{
            box-shadow: 0 16px 48px #E3E7EB;
        }

</style>

<!-- Sidebar Widgets Column -->
<div class="col-md-4 float-right ">
<div class="card my-4">
        <h5 class="card-header">Sobre</h5>
    <div class="card-body">
        <p class="card-text"> Este blog de notícias foi feito com base nas stacks aprendidas em nossas aulas na WoMakersCode com o uso do framework Django. Saiba mais em nosso repositório</p>
        <a href="https://github.com/anaisateodoro/django-blog-noticias"
           class="btn btn-danger">Saiba Mais!</a>
    </div>
</div>
</div>

{% endblock sidebar %}